.recipe-card {
    width: 300px;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    justify-content: space-between;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .recipe-image-container {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }